.kwd { color: #0000aa !important;} /* Keyword.Declaration */
.typ { color: #00aa00 !important;; text-decoration: underline !important; } /* Name.Class */
/*.pln { color: #1e90ff !important } !* Name.Attribute *!*/
.kt { color: #00aaaa !important } /* Keyword.Type */
.m { color: #009999 !important } /* Literal.Number */
.str { color: #aa5500 !important } /* Literal.String */

.highlight {
  border: solid 1px #ddd;
  border-radius: 4px;
  background-color: #fff;
  margin: 8px 0;
}
.highlight pre {
  background-color: #fff;
  margin: 0;
  border: none;
}
